<footer class="bg-dark pt-2 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="nav justify-content-center">
          <li class="nav-item">
          <li class="nav-item">
            <a class="footer-link" href="#">Articles</a>
          </li>
          <li class="nav-item">
            <a class="footer-link" href="https://tjwgore.com/#contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-12 text-center">
        <a href="/" class="brand">
          Code<span class="text-white">type</span>
        </a>
        <p class="text-white small">&copy; <span id="year"></span> Codetype. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
<div id="back-to-top" class="back-to-top">
  <p>Back to Top</p>
</div>