<nav class="bg-light py-2 navi">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 text-md-left text-center">
        <a href="/" class="brand">
          <img src="/logo.svg" style="height: 35px;"/>
          Code<span class="gray-700">type</span>
        </a>
      </div>
      <div class="col-12 col-md-7 pt-md-2">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="/">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://tjwgore.com/#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>