{{ define "page-meta-data" }}
<meta name="description" content="{{ .Site.Params.description }}"/>
<meta name="keywords" content='{{ .Site.Params.keywords}}'/>
<meta content="{{ .Site.Title }}" property="og:site_name">
<meta content="{{ .Site.Title }}" property="og:title">
<meta content="{{ .Site.BaseURL }}{{ if .Params.haveImage }}{{ .Site.Params.image }} {{ else }}image/world.jpg {{ end }}" property="og:image">
<meta content="{{ .Site.Params.description }}" name="og:description">
<meta content="{{ .Permalink }}" property="og:url">
<link rel="canonical" href="{{ .Permalink }}">
<title>{{ .Site.Title }}</title>
{{ end }}

{{ define "main" }}
<section class="bg-img" style="background-image: url('images/world.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-12 header-body text-center">
        <h1 class="header-title">Learning, Creating, and Sharing!</h1>
        <h4 class="header-subtitle">Be awesome1 <br/>and learn something new today.</h4>
      </div>
    </div>
  </div>
</section>

<section class="articles">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pt-5 mt-4 pb-4">
        <h1>Recent Articles</h1>
      </div>
    </div>
    {{- partial "categories" . -}}
    {{- partial "articleList" . -}}
  </div>
</section>
{{end}}